<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

	<Properties>
		<Property name="filename">logs/server.log</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level %logger - %msg%n"/>
		</Console>
		<RollingFile name="File" fileName="${filename}" filePattern="${filename}-%d{yyyy.MM.dd_HH.mm.ss}-%i.log" >
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level %logger - %msg%n"/>
			<SizeBasedTriggeringPolicy size="1 MB"/>
		</RollingFile>
	</Appenders><![CDATA[
	 we can change the level and see in the console the level output we chose and all the ones before it in the hierarchy 1)off  2)fatal  3)warn  4)info  5)debug  6)trace  7)all
	]]><Loggers>
		<Root level="info">
			<![CDATA[<AppenderRef ref="Console"/>]]>
			<AppenderRef ref="File"/>
		</Root>
	</Loggers>
</Configuration>