# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hoday\שולחן העבודה\לימודים\סמסטר ד\נושאים מתקדמים בתכנות\פרוייקט\ATP-Project-PartA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
