# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ronig\Desktop\לימודים\שנה ב' סימ' ב\נושאים מתקדמים בתכנות\MazeProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
